@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.8rem;
  cursor: pointer;
  border: 1px solid #82b1ff;
  background-color: #0d47a1;
  color: white;
}

.bookrate1 {
  font-size: smaller;
  margin-bottom: 0.1rem;
}

.bookrate {
  font-size: larger;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

li {
  list-style-type: none;
  border: 1px solid #d1d5db;
  padding: 1rem;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: #64b5f6;
}
